.hero {
    position: relative;
    background-color: #014E56;
    padding-bottom: 250px;

    background-image: url("../images/hero-bgi-1.png"), url("../images/Group.png");
    background-repeat: no-repeat;
    background-size: 200px 200px, 358px 100px;
    background-position: calc(50% - 760px) calc(50% - 130px), calc(50% + 385px) bottom;
}
    
    


.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__left {
    width: 100%;
    max-width: 635px;
}

.hero__title {
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}

.hero__strong {
    color: #F67E7E;
}

.hero__right {
    width: 100%;
    max-width: 445px;
}

.hero__span {
    display: inline-block;
    margin-bottom: 79px;
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
}

.hero__text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

@include max-width(1120px) {




    

    .hero__title {
        font-size: 90px;
        line-height: 90px;
    }

    .hero__text {
        font-size: 16px;
        line-height: 26px;
    }
}

@include max-width(970px) {
   
    

    .hero__inner {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .hero__left {
        width: 100%;
        max-width: 960px;
    }

    .hero__title {
        margin: 0;
        margin-bottom: 24px;
        font-size: 80px;
        line-height: 80px;
        text-align: center;
    }

    .hero__right {
        width: 100%;
        max-width: 460px;

    }

    .hero__text {
        margin-top: 0;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }

    .hero__span {
        display: none;
    }
}

@include max-width(768px) {
.hero {
   background-image: url("../../images/Group.png");
   background-repeat: no-repeat;
   background-size: 358px 100px;
   background-position: calc(50%) bottom;

    padding-bottom: 256px;
}

    
    
    .hero__inner {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
    .hero__left {
        width: 100%;
        max-width: 683px;
        margin: 0;
    }
    
    .hero__title {
        font-size: 64px;
        line-height: 56px;
        text-align: center;
        margin: 0;
        margin-bottom: 24px;
    }
    
    .hero__right {
        width: 100%;
        max-width: 457px;
        
    }
    
    .hero__span {
        display: none;
    }
    
    .hero__text {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 15px;
        line-height: 28px;
        text-align: center;
    }
    
    
}

@include max-width(375px) {
.hero {
    padding-bottom: 197px;

}

.hero::after {
    right: calc(50% - 180px);
}
    .hero__left {
        width: 100%;
        max-width: 327px;
    }
    
    .hero__title {
        margin: 0;
        margin-bottom: 18px;
        font-size: 40px;
        line-height: 40px;
    }
    
    .hero__right {
        width: 100%;
        max-width: 327px; 
    }
    
    .hero__text {
        font-size: 15px;
        line-height: 28px;
    }
}












































